# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*/node_modules
dist*
*/dist*
**/dist*
*.tsbuildinfo
**.tsbuildinfo
*/**.tsbuildinfo
*.config

dist-ssr
*.local
.nonsense
.nonsense/*
deploy*.sh

# environments
.env
.env*
*/.env
*/.env*
*credentials*

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.credentials*

**/prisma-seed/_json*
**.ignore
**wiggle/
**/prisma/generated
*.pem
*.pem*
*.crt
*.notes*
_json
Server/demofile2.txt
Server/scripts/Python/csv_files/categories.csv
Server/scripts/Python/demofile2.txt

./Utils/types
./Utils/types/*

*.cache

cspell.json
test-creds.json

*.rollup.cache
./Utils/types
./Utils/types/*

*.logs*
**/transactions.csv
.react-email/

*.ignore*
*.ignore*/**
*App/resources/**